<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="./homestyle.css">
    <title>home Page</title>
</head>
<body>
    <nav>
        <ul id="navbar">
            <li>
                <a href="/cars"> Home</a>
            </li>
            <li>
                <a href="/cars/new">Add a new Car</a>
            </li>
</body>
</html>