<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/app.css" />
        <link rel="stylesheet" href="./style.css">
		<title>Index page</title>
	</head>
	<body>
		<header>
			<nav>
				<ul id="navbar">
					<li>
						<a href="/home">Home</a>
					</li>
					<li>
						<a href="/cars/new">Add a new Car</a>
					</li>
				</ul>
			</nav>
		</header>
		<h1 id="Title">Garage</h1>
		<main>
			<h2 id="cars">List of Cars</h2> 
			<div id="container">
				<% for (let i = 0; i < cars.length; i++ ) { %>
				<div>
					<img class="poster" src="<%= cars[i].img %>" alt="pic" /> </br>
					<a class="name" href="/cars/<%= cars[i]._id %> "><%=cars[i].name %> </a> 
				</div>
				<% } %>
			</div>
		</main>
	</body>
</html>